// CAUTION: do not use these colors externally
$_black: #3f4244;
$_gray: #e2e3e3;
$_white: #fff;
$_orange: #ffaf03;
$_blue: #578ebd;
$_red: #c2243b;
$_green: #3fa595;
$_deep-blue: #0066cc;

$_east-bay: rgb(58, 65, 128);
$_east-bay-inactive: rgba($_east-bay, .7);
$_cornflower-blue: #7b6eff;
$_athens-gray: #f2f2f4;
$_burnt-sienna: #ef5350;
$_abbey: rgba(0, 0, 0, .54);
$_scampi: #5F5894;
$_emerald: #51CA90;
$_koromiko: #FFB95F;

// Use these ones instead
$color-text: $_east-bay;
$color-text-secondary: rgba($color: $_black, $alpha: 0.5);
$color-text-inverse: $_white;
$color-sidebar-bg: $_white;
$color-bg: $_gray;
$color-header-bg: $_east-bay;
$color-header-hover: lighten($_black, 8%);
$color-content-bg: $_white;
$color-sub-nav-bg: $_white;
$color-sub-nav-hover: rgba($color: $_black, $alpha: 0.1);
$color-active: $_cornflower-blue;
$color-inactive: lighten($color-active, 35%);
$color-info: $_cornflower-blue;
$color-success: $_emerald;
$color-danger: $_burnt-sienna;
$color-danger-inactive: lighten($color-danger, 40%);
$color-focused: $_east-bay;
$color-unfocused: lighten($color-focused, 35%);
$color-btn-secondary-hover: $_gray;
$color-table-row-hover: $_gray;
$color-loader-fill: $_deep-blue;
