// TODO: remove

@import './info-blocks';
@import '../../../node_modules/flatpickr/dist/flatpickr.css';

$brand-aluminium: #85898f;
$brand-violet-lighten: #9e8291;

.full-width {
  width: 100%;
  &-min {
    min-width: 100%;
  }
  &-max {
    max-width: 100%;
  }
}

.auto-width {
  width: auto;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column, .flex-row {
  &--justify-end{
    justify-content: flex-end;
  }
}

.table__row {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
  width: 100%;

  &--head {
    font-weight: 600;
    color: $brand-violet-lighten;
    height: 20px;
  }
  text-align: left;
}

.table__col {
  &--index {
    width: 25px;
  }

  &--account-id {
    width: 55%;
    height: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
  }

  &--number {
    width: 40px;
  }

  &--select-btn {
    width: 60px;
    margin-left: 15px
  }

  &--document{
    width: 55%;
    margin-left: 15px
  }

  &--time {
    width: 260px;
    margin-left: 15px
  }
}

.table__row {
  justify-content: space-between;
}

.edit-table__row {
  justify-content: start;
}

.spinner {
  color: rgba(244, 243, 242, 0.48);
  font-size: 50px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  .loading__dot {
    animation: 1s blink infinite
  }

  .loading__dot:nth-child(2) { animation-delay: 250ms }
  .loading__dot:nth-child(3) { animation-delay: 500ms }
}

.load-spinner {
  color: $brand-aluminium;
  font-size: 38px;
  opacity: 0.5;
  margin: 8px 0 0 8px;

  &--absolute{
    position: absolute;
  }
}

@keyframes blink {
  50% { color: transparent }
}

@keyframes expand {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s
}

.fade-enter, .fade-leave-to {
  opacity: 0
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: #fff!important;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
