@import "../../../assets/scss/colors";

.app-list-filters {
  background-color: $color-content-bg;
  border-radius: 0.3rem;
  box-shadow: 0.7px 0.7px 5.6px 0.4px rgba(170, 170, 170, 0.72);
  padding: 2rem 2.5rem 2.5rem;
  display: flex;
  justify-content: space-between;
}

.app-list-filters__field {
  flex: 1;
  align-self: center;
  & + & {
    margin-left: 2rem;
  }
}

.app-list {
  .app-list__cell {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    padding: 2rem 1.25rem;

    &--actions {
      display: flex;
      & > button + button {
        margin-left: 1rem;
      }
    }

    &--important {
      font-weight: 600;
    }

    &--wrap {
      white-space: normal;
    }

    &--center {
      text-align: center;
      justify-content: center;
    }

    &--left {
      text-align: left;
      justify-content: flex-start;
    }

    &--right {
      text-align: right;
      justify-content: flex-end;
    }

    &--thin {
      padding: 0 .75rem;
    }

    &:first-of-type {
      padding-left: 2.5rem;
    }

    &:last-of-type {
      padding-right: 2.5rem;
    }
  }

  .app-list__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;

    & > .app-list__cell {
      padding-top: 0;
      padding-bottom: 0;
      color: $color-text-secondary;
    }
  }

  .app-list__li-like,
  .app-list__li {
    background-color: $color-content-bg;
    border-radius: 0.3rem;
    box-shadow: 0.7px 0.7px 5.6px 0.4px rgba(170, 170, 170, 0.72);
    width: 100%;
    display: flex;
    justify-content: space-between;

    // a
    text-decoration: none;
    color: inherit;

    &--v-center {
      align-items: center;
    }

    & + .app-list__li {
      margin-top: 2rem;
    }

    &--no-shadow {
      box-shadow: none;
    }
  }

  .app-list__li-like {
    justify-content: center;
    padding: 2rem 2.5rem;
  }
}
