@import '../../../../assets/scss/colors';

$field-color-text: $color-text;
$field-color-focused: $color-text;
$field-color-unfocused: $color-unfocused;
$field-color-error: $color-danger;
$field-label-font-size: 1.2rem;
$field-label-line-height: 1;
$field-text-font-size: 1.6rem;
$field-text-line-height: 1.25;
$field-error-font-size: 1.2rem;
$field-error-line-height: 1.25;
$field-transition-duration: .2s;
$field-error-margin-top: .4rem;
$field-input-padding-top: 1.7rem;
$field-input-padding-bottom: .6rem;
$field-input-padding: $field-input-padding-top 0 $field-input-padding-bottom 0;
$field-placeholer-color: $field-color-unfocused;

@mixin input-paddings {
  font-size: $field-text-font-size;
  line-height: $field-text-line-height;
}

@mixin text-font-sizes {
  font-size: $field-text-font-size;
  line-height: $field-text-line-height;
}

@mixin label-font-sizes {
  font-size: $field-label-font-size;
  line-height: $field-label-line-height;
}

@mixin material-border($color) {
  border-bottom: .1rem solid $field-color-unfocused;
  background: radial-gradient($color, $color) bottom -.1rem center no-repeat;
  background-size: 0px .2rem;
  -webkit-transition-property: background-size, border-color;
  -moz-transition-property: background-size, border-color;
  -ms-transition-property: background-size, border-color;
  -o-transition-property: background-size, border-color;
  transition-property: background-size, border-color;
  transition-duration: $field-transition-duration;

  &:focus {
    border-bottom-color: transparent;
    background-size: 100% .2rem;
  }
}

